<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tractor Rental</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/machines">Machines</a>
        <% if (currentUser) { %>
            <a href="/reservations/user">My Reservations</a>
            <span>Welcome, <%= currentUser.username %>!</span>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } %>
        <% if (currentUser && currentUser.role === 'ADMIN') { %>
            <a href="/admin-panel">Admin Panel</a>
        <% } %>

    </nav>
</header>

<main>
    <%- body %>
</main>

<footer>
    <!-- Your footer content -->
</footer>
</body>
</html>