<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>TractoRent</title>
</head>
<body>
<h1>Main panel</h1>
<h4>Browse our machines and easily reserve them for your chosen day. Get started and hit the field with the right equipment!</h4>
<div class="menu">
    <a href="/machines" class="button">Machines</a>
    <a href="/reservations/user" class="button">My reservations</a>
</div>


</body>
</html>
