<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Reservation was created</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
<h1>Reservation was created</h1>
<h4>You have successfully created reservation</h4>
<p>
    Reservation ID: <strong><%= reservation.id %></strong><br>
    User ID: <%= reservation.userId %><br>
    Machine ID: <%= reservation.machineId %><br>
    Date: <%= reservation.date %>
</p>

</body>
</html>
